<h2>Common Services on a Blog Website:</h2>
<div class="services">
    <div  *ngIf="!bs">
        <p style="color: rgb(37, 36, 34);">Content Creation:</p>
        <a (click)="this.bs=true" class="link-button"> more</a>
</div>
    <div *ngIf="bs">
      <p>  Regularly updated blog posts, articles, and multimedia content.</p>
  </div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>SEO Optimization:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a> 
</div>
  <div *ngIf="bs">
    <p>  Techniques and tools to improve the blog’s visibility on search engines.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>Email Subscriptions:</strong></p>
    <a (click)="this.bs=true" class="link-button"> more</a>  
</div>
  <div *ngIf="bs">
    <p>  Allowing users to subscribe to newsletters or updates.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>Social Media Integration:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a> 
</div>
  <div *ngIf="bs">
    <p> Connecting the blog with social media platforms for broader reach.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>Commenting System:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a>    
</div>
  <div *ngIf="bs">
    <p>  Enabling readers to leave comments and engage with the content.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>Analytics:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a>   
</div>
  <div *ngIf="bs">
    <p>  Tools to track visitor statistics and engagement metrics.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>Customization:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a>    
</div>
  <div *ngIf="bs">
    <p>  Options for personalizing the blog’s appearance and functionality.</p>
</div>
</div>

<div class="services">
  <div  *ngIf="!bs">
      <p style="color: rgb(37, 36, 34);"><strong>E-commerce:</strong></p>
      <a (click)="this.bs=true" class="link-button"> more</a>  
</div>
  <div *ngIf="bs">
    <p>  Selling products or services directly through the blog.</p>
</div>
</div>



   
 
  