<div class="navbar">
    <button style="cursor: pointer;"routerLink="">Back</button>
    <!-- <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul> -->
  </div>
  <div class="services">
    <div class="card">
      <h2>Website Development</h2>
      <p>That’s great to hear! Website development is a crucial service for many businesses. If you’d like, we can help you create a section on your website to highlight this service. Would you like to add more details about your website development services, such as the technologies you use, the process you follow, or any case studies or testimonials from satisfied customers?</p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
    <div class="card">
      <h2>Website Design</h2>
      <p>That’s fantastic! Website design is a key service that can greatly enhance our customers’ online presence. If you’d like, We can help you create a section on your website to showcase your website design services.</p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
    <div class="card">
      <h2>Website Deployment</h2>
      <p>That’s excellent! Offering website deployment services is a crucial part of ensuring that our clients’ websites are live and accessible to their audience.</p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
  </div>
  
  <div class="services">
    <div class="card">
      <h2> SEO</h2>
      <p>That’s fantastic! Offering SEO services is essential for helping businesses improve their online visibility and attract more customers. </p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
    <div class="card">
      <h2>DevOps</h2>
      <p>That’s awesome! Offering DevOps services is crucial for streamlining development and operations processes.</p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
    <div class="card">
      <h2>QA</h2>
      <p>That’s excellent! Quality Assurance (QA) is vital for ensuring that our products meet the highest standards and satisfy customer expectations.</p>
      <button><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a></button>
    </div>
  </div>
  