<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer>
<div style="min-height: 250px;" class="footer" id="footer-sub">
    <div  class="container">
        <div class="row">
            <div class="col-md-4">
                <h5> HELP </h5>
            <ul>
                <li><a href="">Payments</a></li>
                <li><a href="">Saved Cards</a></li>
                <li><a href="">Shipping</a></li>
                <li><a href="">Cancellation & Returns</a></li>
                <li><a href="">FAQ</a></li>               
            </ul>
            </div>

        <div class="col-md-4">
                <h5> COMPANY NAME </h5>
            <ul>
                <li><a href="">Contact Us</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Sell on our website</a></li>               
            </ul>
        </div>

         <div class="col-md-4">
            <h5> MISC </h5>
            <ul>
                <li><a href="">Online Shopping</a></li>
                <li><a href="">Affliate Program</a></li>
                <li><a href="">Gift Card</a></li>
                <li><a href="">Subscription</a></li>
                <li><a href="">Sitemap</a></li>               
            </ul>
        </div>
       
        </div>

        
 <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
        <div class="row" id="sub-two">

            <div class="col-md-4">
                <div class="vertical-line text-center">
                    <span class="glyphicon glyphicon-map-marker"></span>
                 <a href=""><h4>TRACK YOUR ORDER</h4></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="vertical-line text-center">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <a href=""><h4>FREE & EASY RETURNS</h4></a>
                  
                </div>
            </div>

            <div class="col-md-4">
                <div style="margin:8px;" class="text-center">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <a href=""><h4 style="color:#6d6c6c;">ONLINE CANCELLATIONS</h4></a>
                </div>
            </div>
            

        </div>
        <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">

       

    </div>
</div>
<div style="min-height: 50px;" id="footer-main">

<ul style="cursor: pointer;">
    <li (click)="navigateToAboutUs()"><b>About Us</b></li>
    <li (click)="navigateToHaveshare()"><b>Partner with us</b></li>
    <li (click)="navigateToTermsconditions()"><b>Terms & Conditions</b></li>
    <li (click)="navigateToBlog()"><b>Blog</b></li>
    <li (click)="navigateToCustomerservice()"><b>Customer Service</b></li>
</ul>

<div id="social-menu">
    <ul>
        <li><a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/"><img style="max-width:18px; margin-top: -7px;" src="assets/linkedinicon.webp">Linkedin</a></li>
        <li><a href="https://x.com/KalabMitku27586"><img style="max-width:18px; margin-top: -7px;" src="assets/twittericon.webp">Twitter</a></li>    
        <li><a href="https://t.me/Kaleab_2129"><img style="max-width:18px; margin-top: -7px;" src="assets/telegramicon.webp">Telegram</a></li>
        <li><a href="https://www.youtube.com/@kaleabMitku"><img style="max-width:18px; margin-top: -7px;" src="assets/youtubeicon.webp">Youtube</a></li>
        <li><a href="https://www.facebook.com/kaleabkmb?mibextid=ZbWKwL"><img style="max-width:18px; margin-top: -7px;" src="assets/facebookicon.webp">Facebook</a></li>
        <li><a href="https://www.instagram.com/keleabkmb/"><img style="max-width:18px; margin-top: -7px;" src="assets/instagramicon.webp">Instagram</a></li>
        <li><a href="https://m.me/kaleabkmb"><img style="max-width:18px; margin-top: -7px;" src="assets/messengericon.webp">Messenger</a></li>
</ul>
</div>

</div>
</footer>