
<div class="navbar">
    <button style="cursor: pointer;"routerLink="">Back</button>
    <!-- <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul> -->
  </div>
<div class="portfolio">
    <div class="project-cards">
        <div class="card youtube-clone">
            <img src="assets/youtube-clone.png" alt="YouTube Clone">
            <h2>YouTube Clone</h2>
            <p style="color: wheat;">That’s fantastic! Offering a YouTube Clone to our customers can be a valuable service. It allows them to have a platform similar to YouTube, tailored to their specific needs.</p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
        <div class="card quiz-app">
            <img src="assets/quiz-app.jpg" alt="Quiz App">
            <h2>Quiz App</h2>
            <p style="color: wheat;">That’s great! Offering a Quiz App to our customers can be a valuable tool for education, training, and entertainment.</p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
        <div class="card product-landing-page">
            <img src="assets/product-landing-page.jpg" alt="Product Landing Page">
            <h2>Product Landing Page</h2>
            <p style="color: wheat;">That’s excellent! Offering a Product Landing Page to our customers can significantly boost their product’s visibility and sales.</p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
        <div class="card youtube-clone">
            <img src="assets/messaging servie.jpeg" alt="Messaging Service">
            <h2>Messaging Service</h2>
            <p style="color: wheat;">That’s fantastic! Offering a Messaging Service to our customers can greatly enhance their communication capabilities. </p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
        <div class="card quiz-app">
            <img src="assets/twitter clone.jpeg" alt="Twitter Clone">
            <h2>Twitter Clone</h2>
            <p style="color: wheat;">That’s awesome! Offering a Twitter Clone to our customers can be a powerful tool for social networking and community building.</p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
        <div class="card product-landing-page">
            <img src="assets/blog app.jpg" alt="Blog App">
            <h2>Blog App</h2>
            <p style="color: wheat;">That’s wonderful! Offering a Blog App to our customers can be a powerful tool for content creation and sharing.</p>
            <a href="https://www.linkedin.com/in/kaleab-mitku-81a399211/?trk=opento_sprofile_details" class="link-button">Link</a>
        </div>
    </div>
</div>